// font-family: 'Press Start 2P', cursive;
@import "color";
@import "font";

option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 40px;
    padding: 0px 2px 1px;
}

ul {
  list-style-type: none;
  padding: 5px;
}

#rare-games {
	width: 100vw;
}

.auth-image {
    position: relative;
}

.auth-container {
    position: absolute;
    top: 150px;
}

.sm-mar-btm {
    margin-bottom: 10px;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}

.auth {
	background-image: url("/images/neon-bg.jpg");
	height: 100vh;
}

.small-input {
    width: 150px;
}

.played-input {
    margin-left: 28px;
}

.date-input {
    margin-left: 58px;
}

.wishlist-img {
    padding-left: 80px;
}



body {
	background-image: url("/images/galaga-bg.jpeg");
	height: 100vh;
}

.retro {
    // font-family: 'Press Start 2P', cursive;
    font-family: $old-school;
}

.easy-read {
    color: $arcgreen;
}

.new-game-container {
    color: $tron;
}

.wishlist {
    color: $arcpink;
}

.wishlist-container {
    min-height: 90px;
}

.game-container {
    min-height: 140px;
    padding-right: 0;
}

.sm-mar-rt {
    margin-right: 5px;
}

.md-mar-top {
    margin-top: 15px;
}

.xs-mar-top {
    margin-top: 2px;
}

#leaderboard-info {
    color: $arcpink;
}

.pink {
    color: $arcpink
}

.green {
    color: $arcgreen

}

