<div class="auth">
<div class="auth-image">
    <img src="images/rare-games.jpeg" id="rare-games">
    <div class="auth-container container col-xs-4 col-xs-offset-4">
        <img src="images/ready-player-one.png" class="center-block sm-mar-btm">
        <input type="email" class="form-control form-spacing retro text-center" placeholder="Email Address" ng-model="auth.email" required autofocus>
        <input type="password" class="form-control form-spacing retro text-center" placeholder="Password" ng-model="auth.password"  required>
        <input type="text" class="form-control form-spacing retro text-center" placeholder="Username" ng-model="auth.username" required>
        <a class="btn btn-lg btn-success col-xs-6 retro" ng-click="loginUser()" >Start</a>
        <a class="btn btn-lg btn-primary col-xs-6 retro" ng-click="registerUser()" >Register</a>
    </div>
</div>
</div>