{{currentUser}} Game List

<h1>User Games I've Played</h1>
<div ng-repeat="game in myGames | orderBy: 'name' | filter: {is_played:true}">
	<h3 ng-show="!editing">

	<a ng-href="#!/leaderboard/{{game.name}}/{{game.giantbomb_id}}">{{game.name}}</a>		
	{{game.year}}
	<img ng-src="{{game.icon}}">
    <button class="btn btn-sm btn-info edit-btn" ng-click="editing = true; editGame(game.played_id)">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </button>
	<br>
	{{game.score}}
	{{game.arcadeid}}
	{{game.date}}


	</h3>

	<div ng-show="editing">
		{{game.name}}		
		{{game.year}}
		<img ng-src="{{game.icon}}">
        <input ng-model="currentPlayedObj.score" type="text">
        <input ng-model="currentPlayedObj.arcadeid" type="text">
        <input ng-model="currentPlayedObj.date" type="text">
        <div class="pull-right">
            <button class="btn btn-sm btn-success" ng-click="editing = false; changeScore()">
                <i class=" fa fa-save"></i>
            </button>
        <button class="btn btn-sm btn-danger" ng-click="deleteGameFromProfile(game.played_id)"><i class="fa fa-trash"></i></button>
        </div>
    </div>



</div>


<h1>Games I want to play</h1>
<div ng-repeat="game in myGames | orderBy: 'name' | filter: {is_played:false}">
	{{game.name}}		
	{{game.year}}
	<img ng-src="{{game.icon}}">



</div>
